/* selector { prop: value;} */
* {
  margin: 0;
  --off-white: #FDFDFD;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #13243e;
  color: var(--off-white);
}

header {
  text-align: center;
}

.header-pic {
  height: 90px;
}

main {
  width: 960px;
  margin: 0 auto;
}

section {
  border: 1px solid #8d4c27;
  margin: 1rem;
}

#bio {
  display: flex;
}

#bio img {
  height: 190px;
}

.bio-info {
  width: 100%;
  margin-left: .5rem;
}

.vertical {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nameDate {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: #CDEFFE;
}

.grayBox {
    background-color: #535353;
    padding: .75rem;
}

h4 {
  margin-bottom: .75rem;
}

ul {
  padding-left: 1rem;
}

#tech {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.tech-icon {
  height: 150px;
}

figcaption {
  text-align: center;
}

footer {
  text-align: center;
}
